/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2018, 07:28:10 PM
    Author     : Jake
*/
/*# sourceMappingURL=main.scss.map */
/*# sourceMappingURL=main.scss.map */
/*# sourceMappingURL=main.scss.map */
/*# sourceMappingURL=main.scss.map */
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:04:24 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:08:44 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:37:22 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 02:00:45 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 01:59:28 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2018, 07:30:28 PM
    Author     : Jake
*/
/*    background-image: url("../assets/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;*/
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  background-image: url("../assets/images/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; }

header {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6.4375em;
  z-index: 99; }

main {
  padding-top: 6.8125em;
  padding-bottom: 5.375em; }

footer {
  background-color: black;
  border-top: 6px solid #1d1a18;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5em;
  z-index: 98; }

.scrallable_div {
  overflow: auto;
  max-height: 70vh; }

.centrado {
  padding-top: 15%;
  padding-bottom: 5%; }

.list-group-item {
  user-select: none; }

.text-center {
  text-align: center; }

.no-display {
  display: none; }

.list-group input[type="checkbox"] {
  display: none; }

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer; }

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em; }

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #b9bbbe;
  color: #FFF; }

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit; }
