/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2018, 07:28:10 PM
    Author     : Jake
*/
/*# sourceMappingURL=main.scss.map */
/*# sourceMappingURL=main.scss.map */
/*# sourceMappingURL=main.scss.map */
/*# sourceMappingURL=main.scss.map */
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:04:24 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:08:44 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:37:22 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 02:00:45 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 12:13:22 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 01:59:28 AM
    Author     : Jake
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2018, 07:30:28 PM
    Author     : Jake
*/
/*    background-image: url("../assets/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;*/
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  background-image: url("../assets/images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; }

header {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6.4375em;
  z-index: 99; }

main {
  padding-top: 6.8125em;
  padding-bottom: 5.375em; }

footer {
  background-color: black;
  border-top: 6px solid #1d1a18;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5em;
  z-index: 98; }

h1 {
  color: white;
  font-size: 350%;
  padding: 0.5em 0.5em; }

h2 {
  color: white;
  font-size: 300%;
  padding: 0.5em 0.5em; }

h3 {
  color: white;
  font-size: 250%;
  padding: 0.5em 0.5em; }

h4 {
  color: white;
  font-size: 200%;
  padding: 0.5em 0.5em; }

h5 {
  color: white;
  font-size: 150%;
  padding: 0.5em 0.5em; }

h6 {
  color: white;
  font-size: 100%;
  padding: 0.5em 0.5em; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 02:58:56 AM
    Author     : Jake
*/
a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: gray;
    text-decoration: none; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 03:39:44 AM
    Author     : Jake
*/
.div-image {
  height: 100%;
  padding-right: 2.8125em;
  padding-left: 2.8125em;
  padding-top: 1.875em;
  padding-bottom: 1.875em; }
  .div-image.foto-pefil {
    background-image: url("../assets/images/foto-perfil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .div-image.fondo-blanco-transparente1 {
    background-image: url("../assets/images/fondo-blanco-transparente1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .div-image.fondo-blanco-transparente2 {
    background-image: url("../assets/images/fondo-blanco-transparente2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 03:46:50 AM
    Author     : Jake
*/
.texto.negro {
  color: black; }

.texto.blanco {
  color: white; }

.texto.gris {
  color: gray; }

.list-group input[type="checkbox"] {
  display: none; }

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer; }

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em; }

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #b9bbbe;
  color: #FFF; }

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit; }
