/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 03:46:50 AM
    Author     : Jake
*/

.texto{
    
    &.negro{
        color: $negro;
    }
    
    &.blanco{
        color: $blanco;
    } 
    
    &.gris{
        color: $gris;
    }        
}
