/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2018, 01:59:28 AM
    Author     : Jake
*/

@mixin backgrond-image-fixed($image-string){
    background-image: url($image-string);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;    
}

@mixin backgrond-image-cover($image-string){
    background-image: url($image-string);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}